h1{
	text-align: center;
}

.alert{
	padding: 10px;
	margin: 6px;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.container{
	max-width: 700px;
}

#comments-container{
	border: 1px solid #d0d0d0;
	height: 400px;
	overflow-y: scroll;
}

.comment-container{
	padding: 10px;
	margin: 6px;
	background: #f5f5f5;
	font-size: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.comment-container .label{
	margin-right: 20px;
}

.comment-container:last-of-type{
	border-bottom: none;
}

span.label{
	display: inline-block;
	width: 125px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
   	top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    /*display: block;*/
}

#uri{
	width: 72%;
}
