body{
    background-image: url('Elegant_Background-6.jpg');
    background-size: cover; 
    background-position: center;
    font-family: oswald, sans-serif;
    text-align: center;
}

h1{
    color: white;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
}

h3{
    color: white;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: gray;
}

.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.container{
    display: table-cell;
    vertical-align: middle;
}

.cover{
    margin-left: auto;
    margin-right: auto;
}