@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

@font-face{
	font-family: asfj;
	src: url(../assets/asfj.ttf);
}

@font-face{
	font-family: rts;
	src: url(../assets/Return_To_Sender.ttf);
}

@font-face{
	font-family: dkcc;
	src: url(../assets/DK_Crayon_Crumble.ttf);
}

a{
	color: inherit;
	text-decoration: inherit;
}

h4{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 4px;
	color: #998FB8;

}

/*
table{
	border: 1px solid;
	text-align: center;
	border-spacing: 5px;
}
*/

.table-fill{
	background: white;
	border-radius: 3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	max-width: 600px;
	padding: 5px 5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	margin-top: 75px;
}

th{
	color: #666B85;
	background: #EBEBEB;
	border-bottom: 4px solid #9EA7AF;
	border-right: 1px solid #C1C3D1;
	font-size: 14px;
	font-weight: 100;
	padding: 18px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	vertical-align: middle;
}

th:first-child{
	border-top-left-radius: 3px; 
}

th:last-child{
	border-top-right-radius: 3px;
	border-right: none;
}

tr{
	border-top: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
	color: #666B85;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td{
	background: #4E5066;
	color: #FFFFFF;
	border-top: 1px solid #22262E;
	border-bottom: 1px solid #22262E;
}

tr:first-child{
	border-top: none;
}

tr:last-child{
	border-bottom: none;
}

tr:nth-child(odd) td{
	background: #EBEBEB;
}

tr:nth-child(odd):hover td{
	background: #4E5066;
}

tr:last-child td:first-child{
	border-bottom-left-radius: 3px;
}

tr:last-child td:last-child{
	border-bottom-right-radius: 3px;
}

td{
	background: #FFF;
	padding: 18px;
	text-align: center;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	text-shadow: -1px -1px 1px rgba(0,0,0, 0.1);
	border-right: 1px solid #C1C3D1;
}

td:last-child{
	border-right: 0px;
}
/*
td:hover{
	color: #444;
	text-shadow:0 1px 3px #fff;
}


header{
	height: 300px;
}
*/
#main {
	width: 100%;
	padding: 0;
}

.break{
	width: 100%;
	height: 0;
}

.top.large{
	min-height: 125px;
	padding: 0 0 30px 0;
	margin: 0;
	//background-color: #FFF;
}

.top.small{
	min-height: 64px;
	padding: 0;
	margin: 0;
}

nav.large {
	background: url(../images/goncalo_rita_LogoMedio.png) no-repeat center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 131px;
	z-index: 1000;
	font-family: 'Source Sans Pro', sans-serif;
	//background-color: #EFE5FA;
	//background-color: #F7F6F6;
	background-color: #FFF;
	padding: 30px 0;
}

nav.small {
	background: url(../images/goncalo_rita_LogoPequeno.png) no-repeat center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	z-index: 1000;
	font-family: 'Source Sans Pro', sans-serif;
	//background-color: #EFE5FA;
	//background-color: #F7F6F6;
	background-color: #FFF;
}

header,nav, img, li, div.top, div, a{
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari and Chrome */
  -o-transition: all .5s; /* Opera */
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 0;
	text-align: center; 
	z-index: 1002;
	background-color: #FFF;
	height: 30px;
}

nav ul li {
	font-family: 'Source Sans Pro', cursive;
	font-size: 14px;
	display: inline-block;
	//margin-right: 100px;
	//margin: auto;
	margin: 10px 50px;
	padding: 10;
	font-weight: normal; 
	//color: #f9f9f9;
	color: #998FB8;
	cursor: pointer;
	transition: all .1s ease-in;
	z-index: 1003;
}

nav ul li:hover, nav ul li:active {
	color: #d2e3ec;
}

nav ul li:last-child {
	margin-right: 0;
}

.content-asset p{
	margin:0 auto;
}

.breadcrumb {
	display: none
}

.margin-top-10 {
	padding-top: 10px;
	padding-bottom: 10px;  
}

.margin-only-top-10 {
	padding-top: 10px;
	//padding-bottom: 10px;  
}

#parallax p.bold{
	font-weight: bold;
}

.centered{
	text-align: center;
}

.colored{
	color: #998FB8;
}

#parallax{
	background-color: #FFFFFF; 
}

#parallax h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: black;
	padding: 0;
	margin: 0;
}

#parallax h2 {
	font-family: dkcc, sans-serif;
	font-size: 90px;
	letter-spacing: 12px;
	text-align: center;
	color: #fbfbfb;
	font-weight: normal;
	text-transform: uppercase;
	z-index: 10;
	opacity: .8;
	//background-color: #AAA;
	margin: 0;
	padding: 0;
}

#parallax h3 {
	text-align: center;
	font-family: dkcc, sans-serif;
	font-size: 20px;
	//line-height: 0;
	font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fbfbfb;
	opacity: .8;
	margin: 50px auto;
	width: 80%;
}

#parallax p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.first-character {
	font-weight: 400;
	float: left;
	font-size: 84px;
	line-height: 64px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: 'Source Sans Pro', sans-serif;  
}

.sc {
	color: #998FB8;
}

.ny {
	color: #3d3c3a;
}

.atw {
	color: #c48660;
}

#parallax .title {
	background: #FFFFFA;
	padding: 60px;
	margin: 0 auto;
	text-align: center;
}

.parallax .title h1 {
	font-size: 35px;
	letter-spacing: 8px;
}

#parallax .block {
	background: #FFFFFF;
	padding: 60px;
	width: 820px;
	margin: 0 auto;
	text-align: justify;
}

#parallax .block-gray {
	background: #f2f2f2;
	padding: 60px;
}

#parallax .parallax-one.large {
	//background-position: 50% 85%;
	background-position: 50% 250px;
}

#parallax .parallax-one.small {
	//background-position: 50% 50%;
	background-position: 50% 130px;
}

#parallax .parallax-one {
	padding-top: 500px;
	padding-bottom: 300px;
	margin-top: 250px; 
	overflow: hidden;
	position: relative;
	width: 100%;
	//background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/southern-cali.jpg); 
	background-image: url(../images/nos.jpg);
	//background-image: url(../images/goncalo_rita_beijo.jpg);
	//background-image: url(../images/goncalo_rita_bigode.jpg);
	background-attachment: fixed; 
	background-size: 80%; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	//background-position: 50% 130px;
}

#parallax .parallax-two {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	//background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/new-york.jpg); 
	background-image: url(../images/festa.jpg);
	//background-image: url(../images/goncalo_rita_bigode.jpg);
	background-attachment: fixed; 
	background-size: 80%; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: 50% 130px;
}

#parallax .parallax-three {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	//background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/new-york.jpg); 
	background-image: url(../images/gradil_panorama2.jpg);
	//background-image: url(../images/ma.jpg);
	background-attachment: fixed; 
	background-size: 80%; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: 50% 130px;
}

#parallax .parallax-four {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	//background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/new-york.jpg); 
	background-image: url(../images/estadia.png);
	//background-image: url(../images/goncalo_rita_bigode.jpg);
	background-attachment: fixed; 
	background-size: 80%; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: 50% 130px;
}

#parallax .parallax-five {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	//background-image: url(http://dw2.web.deckers.demandware.net/on/demandware.static/Sites-UGG-US-Site/Sites-UGG-US-Library/default/v1389110192142/images/new-york.jpg); 
	background-image: url(../images/love.jpg);
	//background-image: url(../images/outros.jpg);
	background-attachment: fixed; 
	background-size: 80%; 
	//-moz-background-size: cover; 
	//-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: 50% 130px;
}

#parallax .line-break {
	border-bottom: 1px solid black;
	width: 150px;
	margin: 0 auto;

}

section div p a{
	color: #998FB8;
}

section div p a:hover{
	color: #d2e3ec;
	//text-decoration: underline;
}


@media screen and (max-width: 1051px){
	nav ul li{
		margin: 0 25px;
	}

	#parallax .block {
		padding: 30px;
		width: 770px;
	}
}

@media screen and (max-width: 800px){
	nav ul li{
		margin: 0 10px;
	}
/*
	#parallax .block {
		padding: 10px;
		width: 670px;
	}*/
	#parallax .block {
		padding: 10px;
		width: 90%;
	}

}

@media screen and (max-width: 680px){
	nav ul{
		height: 45px;
	}

	nav ul li{
		margin: 5 25px;
	}

	th, td{
		font-size: 12px;
	}

	.table-fill, th, td{
		padding: 0;
	}
	/*
	#parallax .block {
		padding: 10px;
		width: 380px;
	}
}

@media screen and (max-width: 360px){
	#parallax .block {
		padding: 5px;
		width: 350px;
	}
}*/